@charset "ISO-8859-1";

html {
  height: 100%;
  width: 100%;
}
body {
	width: 100%;
}


.min-100 {
    min-height: 100%;
    min-width: 100%;
}

.min-30 {
	min-height: 30%;
	height: 30%
}

.container-fluid {
  height: 100%;
  width: 100%;
}

.row-first {
  height:20%;
  overflow: hidden;
}

.row-second {
  height:75%;
  overflow: hidden;
}
.row-third {
  height:5%;
  overflow: hidden;
}

.row-fourth {
    height:60%;
  	overflow: hidden;
}

.mt-1 {
  margin-top: 1 !important;
}
body-table {
    color: #404E67;
    background: #F5F7FA;
    font-family: 'Open Sans', sans-serif;
}
.material-icons.md-light.md-inactive {
	color: rgba(255, 255, 255, 0.3); 
}
.table-wrapper {
    width: 100%;
    margin: 30px auto;
    background: #fff;
    padding: 20px;	
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.hidetext { 
	-webkit-text-security: circle; /* Default */ 
	}
.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}
.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}
.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}
.table-title .add-new i {
    margin-right: 4px;
}
table.table {
    table-layout: fixed;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table th:last-child {
    width: 100px;
}
table.table td a {
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    min-width: 24px;
}    
table.table td a.add {
    color: #27C46B;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
table.table td i {
    font-size: 19px;
}
table.table td a.add i {
    font-size: 24px;
    margin-right: -1px;
    position: relative;
    top: 3px;
}    
table.table .form-control {
    height: 32px;
    line-height: 32px;
    box-shadow: none;
    border-radius: 2px;
}
table.table .form-control.error {
    border-color: #f50000;
}
table.table td .add {
    display: none;
}
